@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

* {
  font-family: "Chakra Petch", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: max-content;
  background-color: rgb(94, 219, 18, 0.1);
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#root>* {
  margin-bottom: 0.2%;
}

/* landing component =========================================================== */
/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 5vw;
  background-color: #ffffff;
  border-bottom: 0.4vw solid #172e08;
  color: #172e08;
}

header * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

a {
  cursor: pointer;
}

header>a {
  width: 15%;
  height: 100%;
  font-size: 3.7vw;
  font-weight: 800;
  justify-content: center;
}

header strong {
  color: #5edb12;
}

header>nav {
  width: 80%;
  height: 80%;
}

header>nav>a {
  width: max-content;
  padding-left: 2%;
  padding-right: 2%;
  height: 80%;
  color: #ffffff;
  font-size: 1.8vw;
  background-color: #172e08;
}

header>nav>a:hover {
  background-color: #172e08;
  background: linear-gradient(135deg, transparent 1vw, #172e08 0) top left,
    linear-gradient(45deg, transparent 1vw, #172e08 0) bottom right;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

/* main */
main {
  color: #172e08;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 45vw;
}

main>* {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#main_head1 {
  width: 80%;
  height: 25%;
  text-align: center;
  font-size: 3vw;
}

#main_par1 {
  width: 100%;
  height: 25%;
}

.mainSpan {
  width: 20%;
  height: 100%;
  border: thin solid #172e08;
  background-color: #172e08;
  border-left: 1vw double #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainSpan>h3 {
  color: #ffffff;
  font-size: 2vw;
}

.mainSpan>p {
  color: #ffffff;
  font-size: 1.5vw;
}

#main_par1>button {
  width: 15%;
  height: 33%;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  background-color: transparent;
  color: #172e08;
  border-radius: 0.1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  border: 0.5vw double #172e08;
}

#main_par1>button:hover {
  background-color: #172e08;
  color: aliceblue;
}

#main_par2 {
  width: 100%;
  height: 35%;
}

#main_par2>* {
  width: 25%;
  height: 100%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#main_par2> :nth-child(even) {
  background-color: #5edb12;
  border-left: 1vw double #ffffff;
  color: #172e08;
}

#main_par2> :nth-child(odd) {
  border-left: 1vw double #ffffff;
  background-color: #172e08;
  color: #ffffff;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 17vw;
  width: 100%;
  border-top: #172e08 0.4vw solid;
  background-color: #172e08;
}

#footer_cont1>img {
  width: 60%;
}

#footer_cont1>p {
  font: size 1.2vw;
  margin-left: 5%;
}

#footer_cont1,
#footer_cont3 {
  width: 20%;
  height: 100%;
  border: thin solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  color: #ffffff;
  font-size: 1.7vw;
  word-spacing: 0.5vw;
}

#footer_cont3>* {
  margin-left: 2%;
}

#footer_cont3 a {
  color: #5edb12;
}

#footer_cont2 {
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#footer_cont2>a {
  font-size: 1vw;
  width: 8%;
  height: 90%;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#footer_cont2>a>img {
  width: 100%;
  height: 100%;
}


/* about page ================================================================== */

#about {
  color: #172e08;
  width: 100%;
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#about>h2 {
  width: 100%;
  height: 10%;
  font-size: 3vw;
  background-color: #172e08;
  color: #ffffff;
  letter-spacing: 0.2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#about>p {
  width: 90%;
  min-height: 10%;
  font-size: 1.7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

/* login form ========================================================================== */
#formsection {
  width: 100%;
  height: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#loginform {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 65%;
  height: 85%;
  background-color: #172e08;
}

#loginform>div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#logform {
  width: 40%;
  border: thin solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logform>span {
  width: 90%;
  height: 80%;
  font-size: 1.3vw;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#logform>span>span {
  width: 100%;
  height: 15%;
}

#logform>span>span>h2 {
  width: 100%;
  height: 60%;

  color: #ffffff;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#logform>span>span>p {
  width: 100%;
  height: 40%;

  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#logform>span>span>label {
  width: 100%;
  height: 60%;
}

#logform>span>span>input {
  width: 99%;
  height: 40%;

  font-size: 1.5vw;
  text-align: center;
  color: #172e08;
}

#logform>span>span>input:focus {
  outline: none;
}

#logform>span>button {
  height: 10%;
  width: 80%;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  background-color: #ffffff;
  color: #172e08;
  border-radius: 0.1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  border: 0.5vw double #172e08;
}

#logform>span>button:hover {
  background-color: #172e08;
  color: #ffffff;
  border: 0.5vw double #ffffff;
}

#imagform {
  width: 60%;
  color: #172e08;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2vw;
  height: 90%;
  border: thin solid #172e08;
}

#imagform>div {
  margin-top: 4%;
  width: 80%;
  height: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#imagform>div>h2 {
  margin-top: 2%;
  font-size: 1.9vw;
  width: 100%;
  height: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#imagform>div>p {
  font-size: 1.3vw;
  width: 100%;
  height: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#imagform>p {
  font-size: 1.3vw;
  width: 80%;
  height: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
