@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

* {
  font-family: "Chakra Petch", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: max-content;
  background-color: #ffffff;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#root > * {
  margin-bottom: 0.2%;
}

/* landing component =========================================================== */
/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 5vw;
  background-color: #ffffff;
  border-bottom: 0.4vw solid #172e08;
  color: #172e08;
}

header * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

a {
  cursor: pointer;
}

header > a {
  width: 15%;
  height: 100%;
  font-size: 3.7vw;
  font-weight: 800;
  justify-content: center;
}

header strong {
  color: #5edb12;
}

header > nav {
  width: 80%;
  height: 80%;
}

header > nav > a {
  width: max-content;
  padding-left: 2%;
  padding-right: 2%;
  height: 80%;
  color: #ffffff;
  font-size: 1.8vw;
  background-color: #172e08;
}

header > nav > a:hover {
  background-color: #172e08;
  background: linear-gradient(135deg, transparent 1vw, #172e08 0) top left,
    linear-gradient(45deg, transparent 1vw, #172e08 0) bottom right;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

/* main */
main {
  color: #172e08;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 45vw;
  background-color: #ffffff;
}

main > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#main_head1 {
  width: 80%;
  height: 25%;
  text-align: center;
  font-size: 3vw;
}

#main_par1 {
  width: 100%;
  height: 25%;
}

.mainSpan {
  width: 20%;
  height: 100%;
  border: thin solid #172e08;
  background-color: #172e08;
  border-left: 1vw double #ffffff;
}

#main_par1 > button {
  width: 15%;
  height: 33%;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  background-color: transparent;
  color: #172e08;
  border-radius: 0.1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  border: 0.5vw double #172e08;
}

#main_par1 > button:hover {
  background-color: #172e08;
  color: aliceblue;
}

#main_par2 {
  width: 100%;
  height: 35%;
}

#main_par2 > * {
  width: 25%;
  height: 100%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#main_par2 > :nth-child(even) {
  background-color: #5edb12;
  border-left: 1vw double #ffffff;
  color: #172e08;
}

#main_par2 > :nth-child(odd) {
  border-left: 1vw double #ffffff;
  background-color: #172e08;
  color: #ffffff;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 17vw;
  width: 100%;
  border-top: #172e08 0.4vw solid;
  background-color: #172e08;
}

/* course ======================================================================= */

#course,
#instructor {
  background-color: #172e08;
  width: 100%;
  height: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#course {
  background-color: #ffffff;
}

/* course list */
#main_course_list {
  width: 25vw;
  height: 50vw;
  border: thin solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;

  position: relative;
}

#main_course_list > li {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

/* aside  */

aside {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 00.5vw #172e08 solid;
}

aside > a {
  width: 80%;
  height: 15%;
  cursor: pointer;
  background-color: #172e08;
  color: #ffffff;
}

aside > nav {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

aside > nav > a {
  width: 90%;
  height: 10%;
  cursor: pointer;
  font-size: 1.5vw;
  color: #ffffff;
  background-color: #172e08;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

aside > nav > a:hover {
  background-color: transparent;
  color: #172e08;
  border: 0.2vw #172e08 solid;
}

/* description */

#description {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#description > * {
  width: 100%;
  border: thin solid #ffffff;
}

.desc_rating {
  height: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: thin solid #172e08;
  background-color: #172e08;
}

.desc_rating > span {
  width: 20%;
  height: 100%;
  background-color: #ffffff;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desc_header {
  background-color: #172e08;
  color: #ffffff;
  height: 4vw;
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desc_inst {
  width: 100%;
  height: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
}

.desc_inst_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 13%;
  background: #172e08;
}
.desc_inst_img > img {
  width: 100%;
  height: 100%;
}
.desc_inst_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1%;
  width: 85%;
  height: 100%;
  background-color: #172e08;
}

.desc_inst_info > * {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.desc_inst_info > h4 {
  height: 60%;
  font-size: 2vw;
}

.desc_inst_info > p {
  height: 40%;
  font-size: 1.3vw;
}

.desc_desc {
  height: max-content;
  font-size: 1.7vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desc_body {
  height: 30vw;
  list-style: none;
  overflow-y: scroll;
}

/* description item */
.descriptionItem {
  width: 98%;
  height: 7vw;
  background-color: #172e08;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.item_img {
  width: 15%;
  height: 90%;
  color: #172e08;
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.item_img > img {
  width: 100%;
  height: 100%;
}

.item_details {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  border-left: 0.5vw double white;
}

.item_details > * {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: white;
}

.item_time {
  width: 98%;
  height: 20%;
  font-size: 1.3vw;
}

.item_name {
  width: 98%;
  height: 35%;
  font-size: 1.5vw;
}

.item_desc {
  width: 100%;
  height: 45%;
  text-align: justify;
  font-size: 1.2vw;
  overflow: hidden;
  background-color: #ffffff;
  color: #172e08;
  border-bottom: thin solid #172e08;
}

/* about page ================================================================== */

#about {
  color: #172e08;
  width: 100%;
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#about > h2 {
  width: 100%;
  height: 10%;
  font-size: 3vw;
  background-color: #172e08;
  color: #ffffff;
  letter-spacing: 0.2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#about > p {
  width: 90%;
  min-height: 10%;
  font-size: 1.7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

/* instructor ================================================================== */
#instructor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#instructor > aside {
  background-color: #ffffff;
}

#instructor_desc {
  width: 60%;
  height: 100%;
  border: thin solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#instructor_desc .desc_inst {
  border: thin solid #ffffff;
}

.instructor_details {
  width: 100%;
  max-height: 10vw;
  border: thin solid #ffffff;
  font-size: 1.5vw;
  color: white;
}

#inst_item_cont {
  list-style: none;
  background-color: white;
  width: 30%;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

#inst_item_cont > li {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.InstDesc_list {
  width: 100%;
  height: 40vw;
  list-style: none;
  overflow-y: scroll;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instdescitem {
  width: 96%;
  height: 7.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #172e08;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.instdescitem1 {
  width: 20%;
  height: 100%;
}

.instdescitem1 > img {
  height: 100%;
  width: 100%;
}

.instdescitem2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.instdescitem2 > span {
  width: 100%;
  height: 60%;
  color: white;
  font-size: 2vw;
  border: thin solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.instdescitem2 > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 40%;
  border: thin solid #172e08;
  background-color: #ffffff;
}

.instdescitem2 > div > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  height: 100%;
  font-size: 1.5vw;
  color: white;
  background-color: #172e08;
}

/* Home component ==================================================================================== */

#home {
  width: 100%;
  height: 51.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#home > section {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#home > section > h2 {
  width: 100%;
  height: 5%;
  font-size: 2vw;
  color: #ffffff;
  background-color: #172e08;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Rec_course_list,
.Rec_insts_list {
  width: 100%;
  height: 40%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Rec_insts_item,
.Rec_course_item {
  width: 18.5vw;
  height: 21vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0.2vw solid #172e08;
  background-color: #172e08;
}

.Rec_insts_item_head {
  width: 100%;
  height: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Rec_insts_item_head > h2 {
  color: white;
  width: max-content;
  margin-bottom: 5%;
  height: 40%;
  font-size: 2vw;
}

.Rec_insts_item_body {
  width: 100%;
  height: 8vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Rec_insts_item_body > .image {
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background-color: white;
  margin-top: -19%;
  border: 0.2vw #172e08 solid;
}

.Rec_insts_item_body > .image > img {
  width: 100%;
  height: 100%;
  font-size: 1vw;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Rec_insts_item_body > p {
  width: 100%;
  height: 30%;
  font-size: 1.3vw;
  text-align: center;
}

button {
  cursor: pointer;
}

.Rec_insts_item_body > span {
  font-size: 1.2vw;
  text-align: center;
}

.Rec_insts_item_f {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.Rec_insts_item_footer {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  font-size: 1.4vw;
  color: #172e08;
  border: 0.3vw #172e08 double;
  background-color: #ffffff;
}

.Rec_insts_item_footer:hover {
  color: #ffffff;
  border: 0.3vw #ffffff double;
  background-color: #172e08;
}

.Rec_course_item,
.Rec_course_item > * {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
}

.Rec_course_item {
  border: 0.3vw solid #172e08;
  background-color: #172e08;
}

.Rec_course_item > .course_head {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1vw solid #172e08;
}

.Rec_course_item > .course_head > h2 {
  width: 100%;
  height: max-content;
  font-size: 1.3vw;
  text-align: left;
}

.Rec_course_item > .course_head > p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 300;
  height: 30%;
  background-color: #ffffff;
}

.Rec_course_item > .course_head > p > span {
  width: 40%;
  height: 100%;
  font-size: 1.2vw;
  color: #ffffff;
  background-color: #172e08;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Rec_course_item > .course_body {
  background-color: #172e08;
  width: 100%;
  height: 45%;
}

.Rec_course_item > .course_body > div {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6vw;
}

.inst_image > img {
  width: 100%;
  height: 100%;
}

.Rec_course_item > .course_body > div > .inst_image {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Rec_course_item > .course_body > div > .inst_name {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: thin solid #ffffff;
  color: white;
}

.Rec_course_item > .course_body > div > .inst_name > .a {
  text-align: left;
  height: 50%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vw;

}

/* .Rec_course_item > .course_body > div > .inst_name > .b {
  text-align: left;
  height: 50%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2vw;
} */

.Rec_course_item > .course_footer {
  width: 60%;
  height: 15%;
  font-size: 1.7vw;
  color: #172e08;
  border: thin solid #ffffff;
}

.Rec_course_item > .course_footer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
  font-size: 1.7vw;
  color: #172e08;
  border: 0.5vw #172e08 double;
  background-color: #ffffff;
}

.Rec_course_item > .course_footer:hover {
  color: #ffffff;
  border: 0.5vw #ffffff double;
  background-color: #172e08;
}

/* login form ========================================================================== */
#formsection {
  width: 100%;
  height: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

#loginform {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 65%;
  height: 85%;
  background-color: #172e08;
}

#loginform > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#logform {
  width: 40%;
  border: thin solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logform > span {
  width: 90%;
  height: 80%;
  font-size: 1.3vw;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#logform > span > span {
  width: 100%;
  height: 15%;
}

#logform > span > span > h2 {
  width: 100%;
  height: 60%;

  color: #5edb12;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#logform > span > span > p {
  width: 100%;
  height: 40%;

  color: #5edb12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#logform > span > span > label {
  width: 100%;
  height: 60%;
}
#logform > span > span > input {
  width: 99%;
  height: 40%;

  font-size: 1.5vw;
  text-align: center;
  color: #172e08;
}

#logform > span > span > input:focus {
  outline: none;
}

#logform > span > button {
  height: 10%;
  width: 80%;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  background-color: #ffffff;
  color: #172e08;
  border-radius: 0.1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  border: 0.5vw double #172e08;
}

#logform > span > button:hover {
  background-color: #172e08;
  color: #ffffff;
  border: 0.5vw double #ffffff;
}

#imagform {
  width: 60%;
  color: #172e08;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2vw;
  height: 90%;
  border: thin solid #172e08;
}

#imagform > h2 {
  margin-top: 2%;
  font-size: 1.9vw;
  width: 80%;
  height: 10%;
  border: thin solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#imagform > p {
  font-size: 1.3vw;
  width: 80%;
  height: 10%;
  border: thin solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* contact ======================================================================== */

#contact_me {
  width: 100%;
  margin-top: 1%;
  height: 45vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#contact_me input {
  text-align: center;
  font-size: 1.5vw;
  color: #172e08;
}

#contact_cont {
  width: 80%;
  height: 80%;
  background-color: #172e08;
  border-radius: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.1vw 0.1vw 3vw grey;
}

#contact_socials {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.social {
  width: 40%;
  height: 9%;
  margin-top: 15%;
  margin-left: 10%;
  cursor: pointer;
}

.social > img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  font-size: 1.7vw;
}

.social > img:hover {
  opacity: 1;
}

#contact_body {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#contact_image {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom-right-radius: inherit;
}

#contact_body > form {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#contact_body > form > h2 {
  width: 100%;
  height: 10%;
  font-size: 4vw;
  color: white;
  align-items: center;
}

#contact_body > form > h2 > strong {
  color: #ffffff;
}

#contact_body > form > p {
  width: 100%;
  font-size: 2vw;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#form_cont_name {
  width: 100%;
  height: 15%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#name_input {
  width: 100%;
  height: 50%;
  border: none;
  background-color: #ffffff;
}

#name_input:focus {
  outline: none;
}

#form_cont_name > label {
  width: 100%;
  height: 20%;
}

#form_cont_email {
  width: 100%;
  height: 16%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#email {
  width: 100%;
  height: 50%;
  border: none;

  background-color: #ffffff;
}

#email:focus {
  outline: none;
}

#form_cont_message {
  width: 100%;
  height: 30%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#form_cont_message > textarea {
  font-size: 1.5vw;
  text-align: center;
}

#message {
  width: 100%;
  height: 60%;
  border: none;
  background-color: #ffffff;
}

#message:focus {
  outline: none;
}

#form_cont_submit {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form_cont_submit > button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 0.5vw;
  height: 90%;
  width: 40%;
  font-size: 2.5vw;
  background-color: #ffffff;
}

.button_span1 {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: thin solid;
  align-items: center;
  color: #172e08;
  font-size: 2vw;
}

.button_span2 {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: thin solid;
  align-items: center;
}

.button_span2 > img {
  height: 65%;
}

#contact_img {
  width: 100%;
  height: 70%;
  background-color: #ffffff;
  border-top-left-radius: 40vw;
  border-bottom-left-radius: 40vw;
  border-top-right-radius: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: inherit;
}

#contact_img > img {
  width: 65%;
}

/* path ===================================================================== */
/* path */
#path {
  width: 100%;
  height: 51vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* pathlist */
#pathlist {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#pathlist > ul {
  height: 91%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow-y: scroll;
}

#pathlist > ul > li {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#listbuttons {
  top: 0;
  width: 100%;
  height: 9%;
  border: #172e08 thin solid;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #172e08;
}

#listbuttons > button {
  width: 49%;
  height: 90%;
  font-size: 1.7vw;
  border: double 0.5vw #ffffff;
  color: #ffffff;
  background-color: transparent;
}

#listbuttons > button:hover {
  background-color: #ffffff;
  color: #172e08;
  border: double 0.5vw #172e08;
}

/* pathview */

#pathview {
  height: 50vw;
  width: 60%;
  border: thin solid #172e08;
}
