* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 0;
  margin: 0;
}

/*
#172E08
#5EDB12
*/

body {
  width: 100%;
  height: max-content;
  background-color: #172E08;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#root>* {
  margin-bottom: 0.2%;
}

/* landing component =========================================================== */
/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 5vw;
  border: thin solid #ffffff;
}

/* main */
main {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 45vw;
  border: thin solid #ffffff;
}

main>* {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

#main_head1 {
  width: 80%;
  height: 25%;
  border: thin solid #ffffff;
  text-align: center;
  font-size: 3vw;
}

#main_par1 {
  width: 100%;
  height: 25%;
  border: thin solid #ffffff;

}

.mainSpan {
  width: 20%;
  height: 100%;
  border: thin solid #ffffff;
}

#main_par1>button {
  width: 15%;
  height: 25%;
  font-size: 1.7vw;
  background-color: #5EDB12;
  border: thin solid #5EDB12;
  color: #172E08;
  border-radius: 0.1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
}

#main_par1>button:hover {
  width: 14%;
  height: 23%;
}

#main_par2 {
  width: 100%;
  height: 35%;
}

#main_par2>* {
  width: 25%;
  height: 100%;
  font-size: 1.7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#main_par2>:nth-child(even) {
  background-color: #5EDB12;
  color: #172E08;

}

#main_par2>:nth-child(odd) {
  background-color: #ffffff;
  color: #172E08;
}

#main_par2>:nth-child(1) {
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}

#main_par2>:nth-child(4) {
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 17vw;
  width: 100%;
  border: thin solid #ffffff;
}

/* course ======================================================================= */

#course {
  width: 100%;
  height: max-content;
}

/* course list */
ul {
  width: 100%;
  height: max-content;
  border: thin solid white;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  row-gap: 2vw;
  list-style: none;
}

li {
  height: 30vw;
  margin-left: 2%;
  margin-right: 2%;
  border: thin solid #ffffff;
}

.job_card {
  height: 30vw;
  margin-left: 2%;
  margin-right: 2%;
  border: thin solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1vw;
}

.job_card>div {
  border: thin solid #172E08;
  border-radius: 1vw;
}

.jobCard_header {
  width: 94%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.jobCard_body {
  width: 94%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.jobCard_title {
  height: 70%;
  width: 100%;
  font-size: 1.7vw;
  color: white;
  background-color: #172E08;
}

.jobCard_spans {
  width: 100%;
  height: 30%;
  background-color: #5EDB12;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.jobCard_span {
  width: 25%;
  height: 100%;
  border: thin solid #172E08;
}

.jobCard_footer {
  border-radius: 1vw;
  width: 60%;
  height: 10%;
  font-size: 2vw;
  border: thin solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* about page ================================================================== */

#about {
  color: #ffffff;
  width: 100%;
  min-height: 40vw;
}

#about>h2 {
  width: 100%;
  height: 10%;
  font-size: 2vw;
  background-color: rgb(94, 219, 18, .5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
