body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

* {
  font-family: "Chakra Petch", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: azure;

}

#root {
  background-color: azure;
  width: 100%;
  height: max-content;
}

main,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 2vw;
}

button {
  width: 15%;
  height: 3vw;
  margin-top: 0.5%;
  font-size: 1.5vw;
  border: thin solid black;

}

/* home  =========================================================================== */

#header {
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #81D4FA;
  border-bottom: thin solid white;
}

main {
  width: 100%;
  height: 35.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

main>div {
  width: 50%;
  height: 100%;
  border: thin solid #81D4FA;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main>div>span {
  width: 100%;
  border: thin solid #000080;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

main>div>span>button {
  width: 30%;

}

#main_section {
  width: 100%;
  height: 45vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#main_section>*{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: thin solid #000080;
}
footer {
  width: 100%;
  height: 10vw;
  border: thin solid white;
  background-color: #81D4FA;

}

/* login ================================================================= */

#login {
  width: 100%;
  height: 51vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#login>section {
  border: thin solid black;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#login>section>* {
  width: 50%;
  height: 100%;
  border: thin solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#get_started>*,
#log_in>* {
  width: 100%;
  border: thin solid;
  height: 15%;
  font-size: 2vw;

}

#login button {
  height: 50%;
  width: 30%;
  margin-left: 2%;
  margin-top: 2%;
}

#login input {
  width: 40%;
  height: 40%;
  border: thin solid;
  text-align: center;
  font-size: 1.5vw;
  margin-left: 2%;
  margin-top: 2%;
}

#login input:focus {
  outline: none;
}

/* user Aside ============================================*/
header {
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #81D4FA;
  border-bottom: thick solid white;
}

/* user form ======================================================== */

#userForm {
  width: 100%;
  height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>p {
  width: 100%;
  height: 10%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>div {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>div>form {
  width: 48%;
  height: 95%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>div>form>span {
  width: 100%;
  height: 12%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: thin solid black;
}


#useForm label {
  font-size: 1.3vw;
}

select:focus {
  outline: thin solid black;
}

#path_type,
#job_experience,
#skill_level {
  width: 35%;
  height: 50%;
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: thin solid black;
}


/* about ============================================================ */
#about {
  width: 100%;
  height: 35.5vw;
}

/* userHome ==================================================================== */
#userHome {
  width: 100%;
  height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userHome>* {
  display: flex;
  align-items: center;
}

#userHome>h2 {
  width: 100%;
  height: 5%;
  font-size: 1.7vw;
  justify-content: center;

}

#userHome>form {
  width: 100%;
  height: 10%;
  background-color: #81D4FA;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: .2vw solid white;
}

#userHome>form>* {
  width: 20%;
  height: 70%;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  border: thin solid #81D4FA;
  border-radius: 0.5vw;
  font-size: 1.4vw;
  color: #000080;
}

#userHome>form>select {
  background-color: white;
}

#userHome>form>select>option:nth-child(odd) {
  border-radius: 0.3vw;
}

#userHome option {
  border: thin solid black;
}

#userHome>form>button {
  background-color: white;
}

#userHome>form>*:focus {
  outline: none;
}


#user_home_container {
  width: 100%;
  height: 85%;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

#course_list {
  width: 30%;
  height: 100%;
  background-color: azure;
  list-style: none;
  overflow-y: scroll;
}

#course_detail {
  width: 70%;
  height: 100%;
  background-color: white;
  list-style: none;
}

#items_cart {
  width: 100%;
  height: 100%;
  border: thin solid;
  background-color: white;
  list-style: none;
  column-gap: 1vw;
  overflow-y: scroll;
  grid-template-rows: repeat(2, 30vw);
  grid-template-columns: repeat(3, 27vw);
}

#course_card {
  font-size: 1.3vw;
  width: 20vw;
  height: 25vw;
  margin-top: .5vw;
  border: thin solid #81d4fa;
  background-color: #81D4FA;
  margin-bottom: .5vw;
  border-radius: .5vw;
  margin-left: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#course_card_title {
  width: 100%;
  height: 22%;
  border-radius: inherit;
  background-color: white;
  text-align: center;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#course_card_instructors {
  width: 100%;
  height: 20%;
  border-radius: inherit;
  border: thin solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

#course_card_instructos>a {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#course_card_instructors>a>img {
  width: 90%;
  height: 100%;
  border-radius: 50%;
  border: thin solid white;
}

#course_card_buttons {
  background-color: white;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: inherit;
}

#course_card_buttons>button {
  border-radius: inherit;
  background-color: #81D4FA;
  width: 45%;
  height: 90%;
  font-size: 1.3vw;
  border: thin solid #81D4FA;
}

#cart_card {
  font-size: 1.3vw;
  margin-left: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border: thin solid #81D4FA;
  background-color: #81D4FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: .5vw;
  box-shadow: .02vw .02vw 1vw grey;

}

#cart_title {
  width: 100%;
  max-height: 15%;
  font-size: 1.7vw;
}

#cart_instructors {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: thin solid #81d4fa;

}

#cart_instructors>a {
  width: 15%;
  height: 90%;
  background-color: white;
  margin-left: 0.1vw;
  margin-right: 0.1vw;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.1vw solid #81d4fa;
}

#cart_instructors>a>img {
  height: 100%;
  width: 100%;
  font-size: 1vw;
  border: inherit;
  border-radius: inherit;
}

#cart_details {
  text-align: justify;
  width: 100%;
  max-height: 17%;
  background-color: white;
  font-size: 1.2vw;
}

#cart_requires {
  width: 100%;
  height: 55%;
}

#cart_requires>p {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: 600;
  background-color: aliceblue;
}

#cart_buttons {
  width: 100%;
  height: 20%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: inherit;
}

#cart_buttons #remove {
  width: 25%;
  height: 90%;
  font-size: 1.5vw;
  font-weight: 600;
  border: thin solid transparent;
  background-color: red;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  color: white;
  border: inherit;
}

#cart_buttons #start {
  width: 45%;
  height: 90%;
  font-size: 1.5vw;
  border: thin solid transparent;
  background-color: #81d4fa;
}

#cart_buttons #enroll {
  width: 25%;
  height: 90%;
  color: white;
  background-color: green;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  font-size: 1.5vw;
  font-weight: 600;
  border: thin solid transparent;
}


/* user_path =================================================================== */
#user_path {
  height: 60vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#path_list {
  width: 30%;
  height: 100%;
  border: thin solid;
  list-style: none;
  overflow-y: scroll;
}

#path_description {
  width: 70%;
  height: 100%;
  border: thin solid;
  list-style: none;
  overflow-y: scroll;
  background-color: azure;
}



/* contact ================================================================== */
#contact {
  width: 100%;
  height: 35.5vw;
}
