@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

* {
  font-family: "Chakra Petch", sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  padding: 0;
  margin: 0;
}

/*
body {
    color: #1b4d3e;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1b4d3e;
    color: #e9ffdb;
}
*/

body {
  background-color: #e9ffdb;

}

#root {
  background-color: #e9ffdb;
  width: 100%;
  height: max-content;
}

main,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 2vw;
}

button {
  width: 15%;
  height: 3vw;
  margin-top: 0.5%;
  font-size: 1.5vw;
  border: thin solid black;

}

/* home  =========================================================================== */

#header {
  width: 100%;
  height: 5vw;
  font-size: 1.8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #e9ffdb;
  background-color: #1b4d3e;
}

main {
  width: 100%;
  height: 35.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

main>div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main>div>span {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

main>div>span>button {
  background-color: #1b4d3e;
  color: #e9ffdb;
  width: 30%;
  border: .1vw solid #1b4d3e;
  border-radius: .5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45%;

}

main>div>span>button>span {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 0.2vw solid #e9ffdb;
}

main>div>span>button>img {
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  height: 100%;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

#main_section {
  width: 100%;
  height: 45vw;
  background-color: #ffffff;
  color: #1b4d3e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#main_section>* {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#sect_container1 {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sect_container1>div {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

#sect_container1>div>h2 {
  font-size: 2vw;
  font-family: 'Play', sans-serif;
  text-align: center;

}

#div1 {
  width: 40%;
  height: 100%;
}

#div1>h2 {
  font-size: 2vw;
  font-family: 'Play', sans-serif;
  text-align: center;
}

#div2 {
  width: 50%;
  height: 100%;
}

#div2>p {
  text-align: justify;
  font-size: 1.6vw;
}

#sect_container2 {
  width: 100%;
  height: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#sect_container2>li {
  width: 22%;
  height: 95%;
  border: thin solid #1b4d3e;
  background-color: #1b4d3e;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#sect_container2>li>#image {
  width: 40%;
  height: 30%;
  background-color: #e9ffdb;
  margin-left: 1%;
}

#sect_container2>li>#title {
  width: 98%;
  margin-left: 1%;
  height: 20%;
  background-color: #e9ffdb;

}

#sect_container2>li>#detail {
  width: 98%;
  margin-left: 1%;
  height: 40%;
  background-color: #e9ffdb;
}


#main_cards {
  width: 100%;
  height: 40vw;
}

#main_container1 {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#span2 {
  width: 50%;
  height: 100%;
  font-size: 1.6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#span1 {
  font-family: 'Play', sans-serif;
  width: 40%;
  height: 100%;
  text-align: center;
  font-size: 2.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#main_container1>span>button {
  width: 30%;
  height: 25%;
  border: thin solid #1b4d3e;
  background-color: #1b4d3e;
  font-size: 1.5vw;
  border-radius: .3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

#main_container1>span>button>span {
  width: 70%;
  height: 90%;
  color: #e9ffdb;
  border-right: 0.2vw solid #e9ffdb;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#main_container1>span>button>img {
  width: 25%;
}

#main_container2 {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

#main_container2>li {
  width: 23%;
  height: 85%;
  border: thin solid #1b4d3e;
  background-color: #1b4d3e;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#main_container2>li>span {
  width: 95%;
  border: thin solid #e9ffdb;
  background-color: #e9ffdb;
}

#main_container2>li>#instructors {
  height: 20%;
}

#main_container2>li>#card_rating {
  height: 10%;
}

#main_container2>li>#card_title {
  height: 30%;
}

#main_container2>li>button {
  height: 12%;
  width: 50%;
  font-size: 1.7vw;
  border: thin solid #e9ffdb;
  background-color: #e9ffdb;
  color: #1b4d3e;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}

#main_container2>li>button>span {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 0.2vw solid #e9ffdb;
}

#main_container2>li>button>img {
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  height: 100%;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

footer {
  width: 100%;
  height: 20vw;
  color: #e9ffdb;
  background-color: #1b4d3e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

/* login ================================================================= */

#login {
  width: 100%;
  height: 51vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#login>section {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: azure;
}

#login>section>* {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#get_started>*,
#log_in>* {
  width: 100%;
  height: 15%;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#login button {
  height: 50%;
  width: 30%;
  border: thin solid #81D4FA;
  background-color: #81D4FA;
  font-weight: 600;
  letter-spacing: .15vw;
  font-size: 1.6vw;
  border-radius: .2vw;
}

#login input {
  width: 40%;
  height: 40%;
  border: thin solid #81d4fa;
  border-radius: .3vw;
  background-color: white;
  text-align: center;
  font-size: 1.5vw;
}

#login input:focus {
  outline: none;
}

/* user Aside ============================================*/
header {
  width: 100%;
  height: 5vw;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #81D4FA;
  border-bottom: thick solid white;
}

/* user form ======================================================== */

#userForm {
  width: 100%;
  height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>p {
  width: 100%;
  height: 10%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>div {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>div>form {
  width: 48%;
  height: 95%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>div>form>span {
  width: 100%;
  height: 12%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: thin solid black;
}


#useForm label {
  font-size: 1.3vw;
}

select:focus {
  outline: thin solid black;
}

#path_type,
#job_experience,
#skill_level {
  width: 35%;
  height: 50%;
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: thin solid black;
}


/* about ============================================================ */
#about {
  width: 100%;
  height: 35.5vw;
}

/* userHome ==================================================================== */
#userHome {
  width: 100%;
  height: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userHome>* {
  display: flex;
  align-items: center;
}

#userHome>h2 {
  width: 100%;
  height: 5%;
  font-size: 1.7vw;
  justify-content: center;

}

#userHome>form {
  width: 100%;
  height: 10%;
  background-color: #81D4FA;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: .2vw solid white;
}

#userHome>form>* {
  width: 20%;
  height: 70%;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  border: thin solid #81D4FA;
  border-radius: 0.5vw;
  font-size: 1.4vw;
  color: #000080;
}

#userHome>form>select {
  background-color: white;
}

#userHome>form>select>option:nth-child(odd) {
  border-radius: 0.3vw;
}

#userHome option {
  border: thin solid black;
}

#userHome>form>button {
  background-color: white;
}

#userHome>form>*:focus {
  outline: none;
}


#user_home_container {
  width: 100%;
  height: 85%;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

#course_list {
  width: 30%;
  height: 100%;
  background-color: azure;
  list-style: none;
  overflow-y: scroll;
}

#course_detail {
  width: 70%;
  height: 100%;
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
}

#items_cart {
  width: 100%;
  height: 100%;
  border: thin solid;
  background-color: azure;
  list-style: none;
  column-gap: 1vw;
  overflow-y: scroll;
  grid-template-rows: repeat(2, 30vw);
  grid-template-columns: repeat(3, 27vw);
}

.course_card {
  font-size: 1.3vw;
  width: 20vw;
  height: 25vw;
  margin-top: 1vw;
  border: thin solid #81d4fa;
  background-color: #81D4FA;
  margin-bottom: 1vw;
  border-radius: .5vw;
  margin-left: 14%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.course_card_image {
  width: 98%;
  height: 40%;
  background-color: azure;
  border-radius: inherit;
}

.course_card_image>img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.course_card_rating {
  width: 98%;
  height: 10%;
  background-color: aliceblue;
  border-radius: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.course_card_rating>p {
  width: 28%;
  height: 100%;
  font-size: 1.3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.course_card_title {
  width: 98%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 1.6vw;
  border-radius: inherit;
  background-color: aliceblue;
}

.course_card_detail {
  width: 98%;
  height: 20%;
  border-radius: inherit;
  background-color: aliceblue;
  text-align: justify;
  font-size: 1.3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.course_card_buttons {
  background-color: azure;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: inherit;
}

.course_card_buttons>button {
  border-radius: inherit;
  background-color: #81D4FA;
  font-weight: 800;
  width: 45%;
  height: 90%;
  font-size: 1.5vw;
  border: thin solid #81D4FA;
}

.course_card_buttons>button:hover {
  border: double 0.4vw #81D4FA;
  background-color: aliceblue;
}

.card_detail {
  width: 97%;
  height: max-content;

}

.card_detail_title {
  width: 100%;
  height: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card_detail_info {
  margin-top: .5vw;
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card_detail_info>p {
  width: 15%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5vw;
  justify-content: center;
  background-color: #81D4FA;
  border-radius: .5vw;
}


.card_detail_details {
  margin-top: .5vw;
  width: 100%;
  height: max-content;
  text-align: justify;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .card_detail_instructors {
  margin-top: .5vw;
  width: 100%;
  height: 6vw;
  border: thin solid #81D4FA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
 */
.card_detail_objectives {
  margin-top: .5vw;
  width: 100%;
  height: 6vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card_detail_module_title {
  margin-top: .5vw;
  width: 100%;
  height: 2vw;
  display: flex;
  font-size: 2vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card_detail_modules {
  margin-top: .5vw;
  width: 100%;
  height: 30vw;
  overflow-y: scroll;
  background-color: white;

}

.card_detail_modules>li {
  width: 95%;
  height: 7vw;
  margin-left: 1vw;
  border: thin solid #81D4FA;
  border-radius: .5vw;
  margin-top: .5vw;
  margin-bottom: .5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card_detail_modules>li>.header {
  border-radius: inherit;
  width: 15%;
  height: 95%;
  background-color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.card_detail_modules>li>.header>img {
  height: 90%;
  width: 100%;
}


.card_detail_modules>li>.details {
  border-radius: inherit;

  width: 70%;
  height: 95%;
  background-color: #81D4FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.card_detail_modules>li>.details>.head {
  background-color: azure;
  width: 100%;
  height: 50%;
  font-size: 1.8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card_detail_modules>li>.details>.info {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card_detail_modules>li>.details>.info {
  font-size: 1.3vw;
}

.card_detail_modules>li>.footer {
  border-radius: inherit;

  background-color: azure;
  width: 15%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_detail_modules>li>.footer>a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  border-radius: .3vw;
  height: 50%;
  background-color: #81D4FA;
  text-decoration: none;
  color: black;
  font-weight: 800;
  letter-spacing: .3vw;
}



.card_detail_objectives {
  margin-top: .5vw;
  width: 100%;
  height: max-content;
  display: flex;
  border-radius: 0.2vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.5vw;
}

/* .card_detail_requirements {
  margin-top: .5vw;
  width: 100%;
  height: 10vw;
  border: thin solid #81D4FA;
  background-color: #81D4FA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
} */


#cart_card {
  font-size: 1.3vw;
  margin-left: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border: thin solid #81D4FA;
  background-color: #81D4FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: .5vw;
  box-shadow: .02vw .02vw 1vw grey;

}


#cart_title {
  width: 100%;
  max-height: 15%;
  font-size: 1.7vw;
}

#cart_instructors {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: thin solid #81d4fa;

}

#cart_instructors>a {
  width: 15%;
  height: 90%;
  background-color: white;
  margin-left: 0.1vw;
  margin-right: 0.1vw;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.1vw solid #81d4fa;
}

#cart_instructors>a>img {
  height: 100%;
  width: 100%;
  font-size: 1vw;
  border: inherit;
  border-radius: inherit;
}

#cart_details {
  text-align: justify;
  width: 100%;
  max-height: 17%;
  background-color: white;
  font-size: 1.2vw;
}

#cart_requires {
  width: 100%;
  height: 55%;
}

#cart_requires>p {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
  font-weight: 600;
  background-color: aliceblue;
}

#cart_buttons {
  width: 100%;
  height: 20%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: inherit;
}

#cart_buttons #remove {
  width: 25%;
  height: 90%;
  font-size: 1.5vw;
  font-weight: 600;
  border: thin solid transparent;
  background-color: red;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  color: white;
  border: inherit;
}

#cart_buttons #start {
  width: 45%;
  height: 90%;
  font-size: 1.5vw;
  border: thin solid transparent;
  background-color: #81d4fa;
}

#cart_buttons #enroll {
  width: 25%;
  height: 90%;
  color: white;
  background-color: green;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  font-size: 1.5vw;
  font-weight: 600;
  border: thin solid transparent;
}


/* user_path =================================================================== */
#user_path {
  height: 60vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#path_list {
  width: 30%;
  height: 100%;
  border: thin solid;
  list-style: none;
  overflow-y: scroll;
}

#path_description {
  width: 70%;
  height: 100%;
  border: thin solid;
  list-style: none;
  overflow-y: scroll;
  background-color: azure;
}



/* contact ================================================================== */
#contact {
  width: 100%;
  height: 35.5vw;
}
