body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

* {
  font-family: "Chakra Petch", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: azure;

}

#root {
  background-color: azure;
  width: 100%;
  height: max-content;
}

main,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 2vw;
}

button {
  width: 15%;
  height: 3vw;
  margin-top: 0.5%;
  font-size: 1.5vw;
  border: thin solid black;

}

/* home  =========================================================================== */

header {
  width: 100%;
  height: 5vw;
  border: thin solid black;
  background-color: lightgreen;
}

main {
  width: 100%;
  height: 35.5vw;
  border: thin solid black;

}

footer {
  width: 100%;
  height: 10vw;
  border: thin solid black;
  background-color: bisque;

}

/* login ================================================================= */

#login {
  width: 100%;
  height: 51vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#login>section {
  border: thin solid black;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#login>section>* {
  width: 50%;
  height: 100%;
  border: thin solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#get_started>*,
#log_in>* {
  width: 100%;
  border: thin solid;
  height: 15%;
  font-size: 2vw;

}

#login button {
  height: 50%;
  width: 30%;
  margin-left: 2%;
  margin-top: 2%;
}

#login input {
  width: 40%;
  height: 40%;
  border: thin solid;
  text-align: center;
  font-size: 1.5vw;
  margin-left: 2%;
  margin-top: 2%;
}

#login input:focus {
  outline: none;
}

/* user Aside ============================================*/
header {
  width: 100%;
  height: 5vw;
  border: thin solid black;
  background-color: lightgreen;
}

/* user form ======================================================== */

#userForm {
  width: 100%;
  height: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>p {
  width: 100%;
  height: 10%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>div {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>div>form {
  width: 48%;
  height: 95%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userForm>div>form>span {
  width: 100%;
  height: 12%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: thin solid black;
}


#useForm label {
  font-size: 1.3vw;
}

select:focus {
  outline: thin solid black;
}

#path_type,
#job_experience,
#skill_level {
  width: 35%;
  height: 50%;
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: thin solid black;
}


/* about ============================================================ */
#about {
  width: 100%;
  height: 35.5vw;
}

/* userHome ==================================================================== */
#userHome {
  width: 100%;
  height: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#userHome>* {
  display: flex;
  align-items: center;
  border: thin solid black;
}

#userHome>h2 {
  width: 100%;
  height: 5%;
  font-size: 1.7vw;
  justify-content: center;

}

#userHome>form {
  width: 100%;
  height: 10%;
  justify-content: space-evenly;
  align-items: center;
}

#userHome>form>* {
  width: 30%;
  height: 70%;
  justify-content: space-evenly;
  align-items: center;
  border: thin solid;
  font-size: 1.4vw;
}

#userHome>form>*:focus {
  outline: none;
}


#user_home_container {
  width: 100%;
  height: 85%;
  background-color: aqua;
}

#course_card {
  width: 25%;
  height: 30vw80vw;
  border: thin solid black;
}

/* contact ================================================================== */
#contact {
  width: 100%;
  height: 35.5vw;
}
